.u-block-ae08-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-ae08-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -47px);
  width: 29px;
  height: 29px;
  background-image: none;
  right: auto;
  padding: 3px;
}

.u-block-ae08-4 {
  position: absolute;
  width: 29px;
  height: 29px;
  background-image: none;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -47px);
  padding: 3px;
}

@media (max-width: 1199px) {
  .u-block-ae08-3 {
    left: calc(((100% - 940px) / 2)  + -39px);
  }

  .u-block-ae08-4 {
    right: calc(((100% - 940px) / 2)  + -39px);
  }
}

@media (max-width: 991px) {
  .u-block-ae08-3 {
    left: calc(((100% - 720px) / 2)  + -30px);
  }

  .u-block-ae08-4 {
    right: calc(((100% - 720px) / 2)  + -30px);
  }
}

@media (max-width: 767px) {
  .u-block-ae08-3 {
    left: calc(((100% - 540px) / 2)  + -22px);
  }

  .u-block-ae08-4 {
    right: calc(((100% - 540px) / 2)  + -22px);
  }
}

@media (max-width: 575px) {
  .u-block-ae08-3 {
    left: calc(((100% - 340px) / 2)  + -14px);
  }

  .u-block-ae08-4 {
    right: calc(((100% - 340px) / 2)  + -14px);
  }
}

 .u-section-1-1 {
  background-image: url("11c7799ad2f7765ff46b66de58c7728fb1d3fdd6-2560x1360.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1-1 .u-group-1 {
  width: 789px;
  min-height: 137px;
  background-image: none;
  margin: 527px auto 0;
}

.u-section-1-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  width: 502px;
  margin: 7px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: -10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 249px;
    width: 429px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }
}

 .u-section-1-2 {
  background-image: url("0cd8939201d005f7d910b309bbaefa34acfd460bce1f7e99e93375e94dac02bca181f30499abf8aaa0e83bfa7d2c43ee1d1df354ce58d83b0f9b35_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1-2 .u-group-1 {
  width: 789px;
  min-height: 142px;
  background-image: none;
  margin: 522px auto 16px;
}

.u-section-1-2 .u-container-layout-1 {
  padding-right: 60px;
  padding-left: 60px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  width: 502px;
  margin: 7px auto 0;
}

.u-section-1-2 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-2 .u-group-1 {
    width: 720px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1-2 .u-group-1 {
    width: 540px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }
}

 .u-section-1-3 {
  background-image: url("20211105_090818.0.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1-3 .u-group-1 {
  width: 789px;
  min-height: 166px;
  background-image: none;
  margin: 500px auto 14px;
}

.u-section-1-3 .u-container-layout-1 {
  padding-right: 60px;
  padding-left: 60px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  width: 502px;
  margin: 7px auto 0;
}

.u-section-1-3 .u-text-2 {
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-3 .u-group-1 {
    width: 720px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1-3 .u-group-1 {
    width: 540px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1-3 .u-group-1 {
    width: 340px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }
}

 .u-section-1-4 {
  background-image: url("19782cd94b913f03dc8f5574845662dd1a3b4d5a60d42646ea8ed689727c0d24e56ef6d2d3cf260dffb43188e400c5d90482e729f345557b4e49fe_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1-4 .u-group-1 {
  width: 789px;
  min-height: 140px;
  background-image: none;
  margin: 516px auto 24px;
}

.u-section-1-4 .u-container-layout-1 {
  padding-right: 60px;
  padding-left: 60px;
}

.u-section-1-4 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 8px 56px 0 84px;
}

.u-section-1-4 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 30px;
  }

  .u-section-1-4 .u-text-1 {
    width: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-4 .u-group-1 {
    width: 720px;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 80px;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1-4 .u-group-1 {
    width: 540px;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1-4 .u-group-1 {
    width: 340px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }
}

 .u-section-1-5 {
  background-image: url("jason-leung-poI7DelFiVA-unsplash.jpg");
  min-height: 700px;
}

.u-section-1-5 .u-group-1 {
  width: 789px;
  min-height: 163px;
  background-image: none;
  margin: 518px auto 19px;
}

.u-section-1-5 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-1-5 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 16px 0 0;
}

.u-section-1-5 .u-text-2 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1-5 {
    background-position: 50% 50%;
    min-height: 577px;
  }

  .u-section-1-5 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 0;
  }

  .u-section-1-5 .u-text-1 {
    width: 502px;
  }
}

@media (max-width: 991px) {
   .u-section-1-5 {
    min-height: 442px;
  }

  .u-section-1-5 .u-group-1 {
    width: 720px;
  }

  .u-section-1-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1-5 {
    min-height: 332px;
  }

  .u-section-1-5 .u-group-1 {
    width: 540px;
  }

  .u-section-1-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 2.25;
  }
}

@media (max-width: 575px) {
   .u-section-1-5 {
    min-height: 209px;
  }

  .u-section-1-5 .u-group-1 {
    width: 340px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }
} .u-section-2 {
  min-height: 100px;
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 594px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 594px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin-top: 20px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 594px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin-top: 20px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 783px;
}

.u-section-3 .u-group-1 {
  width: 689px;
  min-height: 100px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-1 {
  font-family: Baloo;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  width: 519px;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 12px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  grid-gap: 24px 24px;
  min-height: 590px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 3px;
}

.u-section-3 .u-image-1 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  width: 110px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 3px;
}

.u-section-3 .u-image-2 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  width: 110px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 3px;
}

.u-section-3 .u-image-3 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  min-height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  width: 110px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: 80px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 311px;
    margin-right: 311px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 594px;
  }

  .u-section-3 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-3 .u-image-1 {
    height: 262px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    width: 53px;
  }

  .u-section-3 .u-btn-1 {
    height: 24px;
  }

  .u-section-3 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-image-2 {
    height: 262px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    width: 53px;
  }

  .u-section-3 .u-btn-2 {
    height: 24px;
    padding: 0;
  }

  .u-section-3 .u-list-item-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-3 {
    height: 262px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-10 {
    width: 53px;
  }

  .u-section-3 .u-btn-3 {
    height: 24px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 516px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  }

  .u-section-3 .u-image-1 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-image-1 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 82px;
    margin-right: 83px;
  }

  .u-section-3 .u-image-2 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 82px;
    margin-right: 83px;
  }

  .u-section-3 .u-image-3 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 82px;
    margin-right: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2058px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 14px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1782px;
  }

  .u-section-3 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 98px;
    margin-left: 112px;
  }

  .u-section-3 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 98px;
    margin-left: 112px;
  }

  .u-section-3 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 98px;
    margin-left: 112px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  grid-gap: 24px 24px;
  min-height: 590px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 3px;
}

.u-section-4 .u-image-1 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  width: 109px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 3px;
}

.u-section-4 .u-image-2 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  width: 109px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 3px;
}

.u-section-4 .u-image-3 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  min-height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  width: 109px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 487px;
  }

  .u-section-4 .u-image-1 {
    height: 262px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 262px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 262px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 1119px;
  }

  .u-section-4 .u-image-1 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 808px;
}

.u-section-5 .u-group-1 {
  width: 689px;
  min-height: 100px;
  margin: 21px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-text-1 {
  font-family: Baloo;
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  grid-gap: 24px 24px;
  min-height: 590px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 3px;
}

.u-section-5 .u-image-1 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-2 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px 90px 0 98px;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 3px;
}

.u-section-5 .u-image-2 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-3 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px 90px 0 98px;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 3px;
}

.u-section-5 .u-image-3 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-4 {
  min-height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 20px 90px 0 98px;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 487px;
  }

  .u-section-5 .u-image-1 {
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
    width: 109px;
  }

  .u-section-5 .u-image-2 {
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
    width: 109px;
  }

  .u-section-5 .u-image-3 {
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
    width: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 516px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 1119px;
  }

  .u-section-5 .u-image-1 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 606px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  grid-gap: 24px 24px;
  min-height: 590px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 0 3px;
}

.u-section-6 .u-image-1 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-1 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 116px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 0 3px;
}

.u-section-6 .u-image-2 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-2 {
  min-height: 270px;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  width: 116px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 0 3px;
}

.u-section-6 .u-image-3 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-3 {
  min-height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  width: 116px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 487px;
  }

  .u-section-6 .u-image-1 {
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    width: 80px;
  }

  .u-section-6 .u-image-2 {
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    width: 80px;
  }

  .u-section-6 .u-image-3 {
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-8 {
    width: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 1119px;
  }

  .u-section-6 .u-image-1 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
  }

  .u-section-6 .u-image-2 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    margin-top: 0;
  }

  .u-section-6 .u-image-3 {
    height: 301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 359px;
}

.u-section-7 .u-image-1 {
  width: 145px;
  height: 172px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  margin: -13px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  align-self: center;
  margin: 10px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 30px auto 60px;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 593px;
}

.u-section-8 .u-shape-1 {
  width: 523px;
  height: 592px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: -536px auto 61px 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 239px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 32px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 476px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-8 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 4px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-8 .u-shape-1 {
    width: 225px;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -3px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 299px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 931px;
  margin: 21px auto 30px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 268px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  width: 211px;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 268px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  width: 193px;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 268px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 44px auto 0;
}

.u-section-9 .u-text-5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  width: 220px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 65px;
  }

  .u-section-9 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 100px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    width: 207px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-text-6 {
    width: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 270px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}